<h1>Hello World</h1>

<div class="mdl-grid">
	<% @images.each do |image| %>	
		<div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">

			<div class="mdl-card__supporting-text">
				<%= image_tag image.link, class: "image" %>	
			</div>
			
			<div class="mdl-card__actions mdl-card--border">	
				<%= image.description %>
				<% if image.computer == request.ip %>
					<div class="mdl-layout-spacer"></div>
  				<%= link_to "delete", image_path(image.id), class: "material-icons showConfirm", data: { confirm: "Apagar imagem", text: "Realmente desejar apagar está imagem?"}, method: :delete %>
				<% end %>
			</div>
			
		</div>
	<% end %>
</div>