/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require sweetalert
 *= require sweetalert/themes/google
 */

 .mdl-title{
 	text-decoration: none;
 	color: #fff;
 }

 .mdl-card__actions{
 	display: flex; 
 	box-sizing:border-box;
 	align-items: center;
 }

 .image{
 	height: 150px;
 	width: 100%;
 }

 a{
 	text-decoration: none;
 }