<%= simple_form_for @image do |image| %>
	
	<div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
		<div class="mdl-card__supporting-text">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<%= image.input :description %>
					<%= image.input :link %>
				</div>
			</div>
		</div>

		<div class="mdl-card__actions mdl-card--border">
			<%= image.button :submit %>
			<%= link_to "Cancelar", root_path, class: "mdl-button" %>
		</div>
	</div>

<% end %>