<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width= device-width, initial-scale=1, ">
    <title>Teste</title>
    <%= csrf_meta_tags %>

    <!-- MDL -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 	 'sweetalert' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="mdl-layout mdl-layout--fixed-header">
  		<header class="mdl-layout__header">
  			<div class="mdl-layout__header-row">
          <%= link_to "Imaginando", root_path, class: "mdl-title" %>
  				<div class="mdl-layout-spacer"></div>

  				<nav class="mdl-navigation">
            <%= link_to "add_circle", new_image_path, class: "mdl-navigation__link material-icons" %>
  				</nav>
  			</div>
  		</header>

	  	<main class="mdl-layout__content">
	  		<div class="mdl-grid">
	       	<div class="mdl-cell mdl-cell--1-col mdl-layout--medium-screen-only"></div>
	        <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet">
	          <%= yield %>
	        </div>
	    	</div>
	  	</main>

    </div>
  </body>
</html>
